.centre_aide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.255);
  z-index: 1000;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  backdrop-filter: blur(3px);
}
.centre_aide1 {
  width: 1200px;
  height: 600px;
  background-color: white;
  animation: cont1 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.centre_aide1::-webkit-scrollbar{
    background-color: rgb(225, 225, 225);
    width: 11px;
}
.centre_aide1::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.229);
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.426);
}
.entete_aide {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 07%;
}
.entete_aide img {
  width: 130px;
  margin-left: 20px;
  transform: translateY(13px);
}
.entete_aide button {
  color: rgba(0, 0, 0, 0.649);
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.3s;
}
.entete_aide button:hover {
  outline: none;
  border: none;
  color: black;
}
#btn_next {
  width: 25px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.556);
  font-size: 13px;
  border: none;
  outline: none;
  transition: all 0.3s;
  animation: btn_next_1 0.5s;
}
@keyframes btn_next_1 {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
#btn_next:hover {
  border: none;
  outline: none;
  color: black;
  height: 60px;
}
.boule {
  width: 150px;
  height: 100%;
  padding-top: 8px;
  transform: translateX(-40px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.boule .boule1 {
  cursor: pointer;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.534);
}
.bas_aide {
  width: 100%;
  height: 97%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}
.bas_aide .bas_aide1,
.bas_aide .bas_aide2,
.bas_aide .bas_aide3 {
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
}
.bas_aide .bas_aide2 {
  background-color: green;
}
.bas_aide .bas_aide3 {
  background-color: red;
}
.bas_aide .bas_aide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bas_aide .bas_aide1 .bas_aide11 {
  width: 90%;
  transform: translateY(40px);
  height: 8%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.57);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
.bas_aide .bas_aide1 .bas_aide11:hover {
  height: 160px;
}
.bas_aide .bas_aide1 .bas_aide11:hover h4 {
  color: var(--bleu-marine);
}
.bas_aide .bas_aide1 .bas_aide11:hover .haut_aide i {
  /* display: block; */
}
.bas_aide .bas_aide1 div .haut_aide h4 {
  font-size: 12px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.682);
}
.bas_aide .bas_aide1 div .haut_aide i {
  font-size: 12px;
  transition: all 0.3s;
  margin-right: 10px;
  color: var(--bleu-marine);
  /* display: none; */
}
.bas_aide .bas_aide1 div .haut_aide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}
#titre_aide__ {
  color: var(--vert);
  font-size: 16px;
}

.bas_aide___ {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.bas_aide___ p {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 12px;
  text-align: left;
}
.bas_aide___ ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.bas_aide___ ul li{
  font-size: 12px;
  max-width: 200px;
  /* background-color: black; */
}
