.desti {
  min-width: 300px;
  max-width: 300px;
  height: 250px;
  border-radius: 10px;
}
.image {
  width: 100%;
  height: 75%;
  background-color: blue;
  border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
#image_dest {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
#image_dest:hover {
  width: 106%;
  height: 106%;
  transform: translate(-3%, -3%);
}
.bas {
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bas h2 i {
  font-size: 15px;
  color: var(--bleu-marine);
}
.bas h2 {
  font-size: 13px;
  position: relative;
  bottom: 10px;
  color: rgba(0, 0, 0, 0.595);
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
}
.bas button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* border: 2px solid var(--bleu-marine); */
  color: var(--bleu-marine);
  background-color: rgba(0, 0, 144, 0.175);
  padding-top: 9px;
  text-transform: uppercase;
  padding-top: 6px;
  transition: all 0.3s;
  border: none;
  outline: none;
}
.bas button:focus {
  border: none;
  outline: none;
}
.bas button:hover {
  width: 110px;
  transform: translateX(5px);
  border: none;
  outline: none;
  /* border: 1px solid var(--bleu-marine); */
}
